.align-left {
  float: left;
}

.align-right {
  float: right;
}

a:link, a:visited {
  color: #595959;
  text-decoration: none;
}

a:hover, a:active {
  color: #505050;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
}

.header {
  font: 10pt arial;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 25px;
  font: arial;
}

#sign-in-button {
  background-color: #4386fa;
  border: none;
  color: #ffffff;
  font-weight: bold;
  height: 30px;
  width: 70px;
}

.content {
  margin-top: 195px;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  box-sizing: border-box;
  margin: 0;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f2f2f2;
  font: 10pt Arial;
  border-top: 1px solid #e4e4e4;
}